<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcp.lottery.mapper.PlatMapper">

    <resultMap id="ResultMapForCategory" type="com.mcp.lottery.model.Plat">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="login_url" jdbcType="VARCHAR" property="loginUrl"/>
        <result column="balance_url" jdbcType="VARCHAR" property="balanceUrl"/>
        <result column="touzhu_url" jdbcType="VARCHAR" property="touzhuUrl"/>
        <result column="cookies" jdbcType="VARCHAR" property="cookies"/>
        <result column="assist" jdbcType="VARCHAR" property="assist"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="delete_at" jdbcType="TIMESTAMP" property="deleteAt"/>
        <association property="platCategory" javaType="com.mcp.lottery.model.PlatCategory">
            <result column="category_id"  property="id"/>
            <result column="cateName"  property="name"/>
            <result column="executor"  property="executor"/>
        </association>
        <collection property="platGameList" ofType="com.mcp.lottery.model.PlatGame" column="id">
            <result column="platGameId"  property="id"/>
            <result column="game"  property="game"/>
            <result column="direction"  property="direction"/>
        </collection>
    </resultMap>

    <select id="get" resultMap="ResultMapForCategory">
        SELECT a.*,b.name,b.executor FROM plat a left join plat_category b on a.category_id=b.id where a.id=#{id}
    </select>


    <select id="getAll" resultMap="ResultMapForCategory">
        SELECT a.*,b.name as cateName,b.executor FROM plat a left join plat_category b on a.category_id=b.id
    </select>

    <select id="getAllForTerminal" resultMap="ResultMapForCategory">
        SELECT a.*,b.name as cateName,b.executor,c.game,c.direction,c.id as platGameId FROM plat_game c left join plat a  on a.id=c.plat_id   left join plat_category b on a.category_id=b.id
    </select>






</mapper>