<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcp.lottery.mapper.UserRuleTimingMapper">

    <resultMap id="ResultMap" type="com.mcp.lottery.model.UserRuleTiming">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uid" property="uid"/>
        <result column="game" property="game"/>
        <result column="begin"  property="begin"/>
        <result column="end"  property="end"/>
        <result column="up_point"  property="upPoint"/>
        <result column="down_point"  property="downPoint"/>
        <result column="origin_up_point"  property="originUpPoint"/>
        <result column="origin_down_point"  property="originDownPoint"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="direction"  property="direction"/>
        <result column="bull_count_ratio"  property="bullCountRatio"/>
        <result column="is_bull_axis_move"  property="isBullAxisMove"/>
        <result column="is_bull_direction_only"  property="isBullDirectionOnly"/>
        <result column="is_trade_before_axis_move"  property="isTradeBeforeAxisMove"/>
    </resultMap>

    <select id="getList" resultMap="ResultMap">
        select * from user_rule_timing
        WHERE 1=1
        <if test="uid != null and uid != ''">
            and  uid = #{uid}
        </if>
        <if test="game != null and game != ''">
            and  game = #{game}
        </if>
        order by begin asc
    </select>


    <update id="updateBottomwin">
        update user_rule set is_close_by_winlose=0,dividing_time=unix_timestamp(now()),is_bottomwin=CASE user_rule.is_bottomwin  WHEN 2 THEN 1 ELSE user_rule.is_bottomwin END where user_rule.uid=#{uid} and  user_rule.game=#{game}
    </update>
    
    

</mapper>
