<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcp.lottery.mapper.UserMapper">


    <resultMap id="BaseResultMap" type="com.mcp.lottery.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="balance" property="balance"/>
        <result column="create_at" property="createAt"/>
        <result column="status" property="status"/>
        <result column="setting" property="setting"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="parent_name" property="parentName"/>
        <collection property="userRuleList" ofType="com.mcp.lottery.model.UserRule" select="getUserRuleList"
                    column="id">
        </collection>
    </resultMap>

    <update id="addBalance">
        UPDATE USER SET  balance=balance+#{balance}  where id=#{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select a.*,sum(b.money) as money,sum(b.result) as result,sum(b.result)-sum(b.money) as bonus, c.username as parent_name
        from user a
        left join user c on c.id = a.parent_id
        left join user_order_log b on a.id=b.uid and b.settle=1
        group by a.id
    </select>

    <select id="getAllByUids" resultMap="BaseResultMap">
        select a.*,sum(b.money) as money,sum(b.result) as result,sum(b.result)-sum(b.money) as bonus, c.username as parent_name
        from user a
        left join user c on c.id = a.parent_id
        left join user_order_log b on a.id=b.uid and b.settle=1
        where a.id in
        <foreach item="item" index="index" collection="uids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        group by a.id
    </select>

    <select id="getByIds" resultMap="BaseResultMap">
        select * from user where id in
        <foreach item="item" index="index" collection="uids"
                                                open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getUserRuleList" resultType="com.mcp.lottery.model.UserRule">
        select user_rule.*,is_open as isOpen,init_money as initMoney,is_dividing as isDividing,limit_lose as limitLose,limit_win as limitWin,dividing_time as dividingTime,is_trace_lose as isTraceLose,plat.name as platName,limit_max_win as limitMaxWin,limit_min_win as limitMinWin,is_bottomwin as isBottomwin,is_timing as isTiming from user_rule left join plat_game on user_rule.plat_game_id=plat_game.id and user_rule.plat_game_id>0  LEFT JOIN plat on plat_game.plat_id =plat.id  where  uid=#{id} order by game ASC
    </select>

    <update id="openTouzhu">
        update user_rule set is_open=1, dividing_time=unix_timestamp(now()) , is_close_by_winlose=0 where id=#{id}
    </update>

    <update id="closeTouzhu">
        update user_rule set is_open=0, is_close_by_winlose=1  where id=#{id}
    </update>

    <update id="updateInitMoney">
        UPDATE user_rule SET  init_money=#{initMoney}, dividing_time=unix_timestamp(now())  where id=#{id}
    </update>

    <update id="updateLimitLose">
        UPDATE user_rule SET  limit_lose=#{limitLoseMoney}  where id=#{id}
    </update>

    <update id="updateLimitWin">
        UPDATE user_rule SET  limit_win=#{limitWinMoney}  where id=#{id}
    </update>

    <update id="openDividing">
        update user_rule set is_dividing=1 , dividing_time=unix_timestamp(now()), is_close_by_winlose=0 where id=#{id}
    </update>

    <update id="closeDividing">
        update user_rule set is_dividing=0, is_close_by_winlose=0 where id=#{id}
    </update>

    <update id="openTraceLose">
        update user_rule set is_trace_lose=1, is_close_by_winlose=0 where id=#{id}
    </update>

    <update id="closeTraceLose">
        update user_rule set is_trace_lose=0, is_close_by_winlose=0 where id=#{id}
    </update>

    <update id="openBottomWin">
        update user_rule set is_bottomwin=1, dividing_time=unix_timestamp(now()), is_close_by_winlose=0 where id=#{id}
    </update>

    <update id="closeBottomWin">
        update user_rule set is_bottomwin=0, dividing_time=unix_timestamp(now()), is_close_by_winlose=0 where id=#{id}
    </update>

    <update id="updateLimitMaxWin">
        UPDATE user_rule SET  limit_max_win=#{limitMaxWin}  where id=#{id}
    </update>

    <update id="updateLimitMinWin">
        UPDATE user_rule SET  limit_min_win=#{limitMinWin}  where id=#{id}
    </update>

    <update id="openIsTiming">
        update user_rule set is_timing=1, is_close_by_winlose=0 where id=#{id}
    </update>

    <update id="closeIsTiming">
        update user_rule set is_timing=0, is_close_by_winlose=0 where id=#{id}
    </update>


</mapper>